*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app {
    background-color: #fff;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    margin-bottom: 20px;
    color:#002765;
    display: flex;
    align-items: center;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    background: #ff5945;
    color: #fff;
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 12px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
}
ul li.checked {
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0; 
}
@media (max-width:600px ) {
    .todo-app {
        margin: 50px auto 20px;
        padding: 30px 20px 60px;
    }
    .button {
        padding: 12px 30px;
        font-size: 14px;
    }
}